{% extends "blog/base.html" %}

{% block title %}{{ post.title  }}{% endblock %}

{% block content %}

	<h1>{{ post.title  }}</h1>
	
<p class="date">
    Publicado em {{ post.publish }} por {{ post.author }} sobre {{post.tags.all|join:", "}} com a última modificação em {{post.updated}}
</p>
{{post.body|linebreaks}}
<p class="tags"> Tags: {{post.tags.all|join:", "}}</p>

<h2>Posts similares</h2>
{% for post in similar_posts %}
<p>
    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</p>
{% empty %}
Não tem posts similares
{% endfor %}
{% with comments.count as total_comments %}
<h2>
    {{ total_comments }} Comentário {{ total_comments|pluralize }}
</h2>
{% endwith %}
{% for comment in comments %}
<div class="comment">
    <p class="info">
        Comment {{ forloop.counter }} by {{ comment.nome }} {{ comment.created }}
    </p>
    {{ comment.texto|linebreaks }}
</div>
{% empty %}
<p>Essa postagem ainda não tem comentários.</p>
{% endfor %}
{% if new_comment %}
<h2>Seu comentário foi adicionado</h2>
{% else %}
 <h2>Adicione um novo comentário</h2>
<form method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add Comment"></p>
</form>
{% endif %}
{% endblock %}